<!-- <div ng-app>  
  <input ng-model="first"  placeholder="First number"  type="text" />
  <input ng-model="second" placeholder="Second number" type="text" />
  <h1> </h1>
</div> -->
<!-- <form #pform ="ngForm">
  Monthly income <input [(ngModel)]="calculatorvalue.monthlyIncome" name="monthlyIncome"/> <br/>
   <input type="submit" value="calculate" (click) = calculateEligibility() />
</form>
<h2>{{calculatorvalue.TotalEligibility}}</h2>


<form #eform ="ngForm">
  Loan <input [(ngModel)]="calculatorvalue.loan" name="loan"/> <br/>
  Tenure <input [(ngModel)]="calculatorvalue.tenure" name="tenure"/> <br/>
  Rate of interest<input [(ngModel)]="calculatorvalue.rateOfInterest"name="rateOfInterest"/><br/>
  <input type="submit" value="calculate" (click) = calculateEMI() />
</form>
<h2>{{calculatorvalue.emi}}</h2> -->
