<!-- <div ng-app>  
  <input ng-model="first"  placeholder="First number"  type="text" />
  <input ng-model="second" placeholder="Second number" type="text" />
  <h1> </h1>
</div> -->
<form #pform ="ngForm">
  Monthly income <input [(ngModel)]="calculatorvalue.monthlyIncome" name="monthlyIncome"/> <br/>
  <!-- Rate of interest<input [(ngModel)]="calculatorvalue.rateOfInterest"name="rateOfInterest"/><br/> -->
  <input type="submit" value="calculate" (click) = calculateEligibility() />
</form>
<h2>{{calculatorvalue.TotalEligibility}}</h2>