<div class="container">
  <!-- <div class="row"> -->
  <!-- <div class="col-md-6"></div> -->

  <!--This div has form for PROPERTY DETAILS-->
  <div class="property-details">
    <form #pdform="ngForm" ngNativeValidate class="px-5 py-3">
      <h2>Application Details</h2><br />
      <h4>Property Details</h4>


      <!--  PROPERTY NAME -->
      <div class="form-group">
        <label for="">Property Name</label>
        <input [(ngModel)]="propertyValue.propertyName" name="propertyName" type="text" class="form-control"
          id="propertyName" placeholder="eg : 'E-305, Spring Valley Colony'" required>
      </div>

      <!--  PROPERTY LOCATION -->
      <div class="form-group">
        <label for="">Property Location</label>
        <input [(ngModel)]="propertyValue.propertyLocation" name="propertyLocation" type="text" class="form-control"
          id="propertyLocation" placeholder="eg : 'Andheri, Mumbai'" required>
      </div>

      <!--  ESTIMATED AMOUNT -->
      <div class="form-group">
        <label for="">Estimated Amount</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">₹</div>
          </div>
          <input [(ngModel)]="propertyValue.estimatedAmount" name="estimatedAmount" type="number" min="1"
            class="form-control" id="estimatedAmount" placeholder="eg : '3200000'" required><br />
        </div>
      </div>

      <input type="submit" value="Submit" (click)=PropertyDetailForm() />

    </form>
  </div>
  <!-- </div> -->


  <!-- <div class="col-md-6"> -->

  <!--This div has form for INCOME DETAILS-->
  <div class="income-details">
    <form #idform="ngForm" ngNativeValidate class="px-5 py-3">
      <h4>Income Details</h4>


      <!--  TYPE OF EMPLOYEE -->
      <div class="form-group">
        <label for="">Type Of Employee</label>
        <select id="typeOfEmployee" input [(ngModel)]="incomeValue.typeOfEmployee" class="form-control" required>
          <option selected>Salaried</option>
          <option>Self-Employed</option>
        </select>
      </div>

      <!--  RETIREMENT AGE -->
      <div class="form-group">
        <label for="">Retirement Age</label>
        <input [(ngModel)]="incomeValue.retirementAge" name="retirementAge" type="number" min="35" max="62"
          class="form-control" id="retirementAge" placeholder="eg : '60'" required>
      </div>

      <!--  ORGANIZATION TYPE -->
      <div class="form-group">
        <label for="">Organization Type</label>
        <select id="organisationType" input [(ngModel)]="incomeValue.organisationType" class="form-control" required>
          <option selected>Cooperative</option>
          <option>NGO</option>
          <option>Government Organization</option>
          <option>Semi-Government Organization</option>
          <option>Political Organization</option>
          <option>Community Organization</option>
          <option>Trade Association</option>
          <option>Charitable Organization</option>
        </select>
      </div>

      <!--  EMPLOYER NAME -->
      <div class="form-group">
        <label for="">Employer Name</label>
        <input [(ngModel)]="incomeValue.employername" name="employername" type="text" class="form-control"
          id="employername" placeholder="eg : 'LTI'" required>
      </div>

      <!--  SALARY -->
      <div class="form-group">
        <label for="">Salary</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">₹</div>
          </div>
          <input [(ngModel)]="incomeValue.salary" name="salary" type="number" min="1" class="form-control" id="salary"
            placeholder="per months, eg : '45000'" required><br />
        </div>
      </div>

      <input type="submit" value="Submit" (click)=IncomeDetailForm() />

    </form>
  </div>
  <!-- </div> -->


  <!-- <div class="col-md-6"> -->

  <!--This div has form for LOAN DETAILS-->
  <div class="loan-details">
    <form #ldform="ngForm" ngNativeValidate class="px-5 py-3">
      <h4>Loan Details</h4>


      <!--  MAXIMUM LOAN GRANTABLE -->
      <div class="form-group">
        <label for="">Maximum Loan Grantable</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">₹</div>
          </div>
          <input [(ngModel)]="loanValue.maxGrantableLoan" name="maxGrantableLoan" min="1" type="number"
            class="form-control" id="maxGrantableLoan" placeholder="eg : '5000000'" required>
        </div>
      </div>

      <!--  RATE OF INTEREST -->
      <div class="form-group">
        <label for="">Rate Of Interest</label>
        <input [(ngModel)]="loanValue.rateOfInterest" name="rateOfInterest" step="any" type="number" min="1" max="15"
          class="form-control" id="rateOfInterest" placeholder="eg : '8.5'" required>
      </div>

      <!--  TENURE -->
      <div class="form-group">
        <label for="">Tenure</label>
        <input [(ngModel)]="loanValue.tenure" name="tenure" type="number" min="1" class="form-control" id="tenure"
          placeholder="in months, eg : '35'" required>
      </div>

      <!--  LOAN AMOUNT -->
      <div class="form-group">
        <label for="">Loan Amount</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">₹</div>
          </div>
          <input [(ngModel)]="loanValue.loanAmount" name="loanAmount" type="number" min="1" class="form-control"
            id="loanAmount" placeholder="eg : '2300000'" required>
        </div>
      </div><br />

      <input type="submit" value="Submit" (click)=LoanDetailForm() />

    </form>
  </div>
  <!-- </div> -->




  <!-- <div class="col-md-6"> -->

  <!--This div has form for PERSONAL DETAILS-->
  <div class="personal-details">
    <form #pedform="ngForm" ngNativeValidate class="px-5 py-3">
      <h4>Personal Details</h4>


      <!--  FIRST NAME -->
      <div class="form-group">
        <label for="">First Name</label>
        <input [(ngModel)]="personalValue.firstName" name="firstName" type="text" class="form-control" id="firstName"
          placeholder="eg : 'Tejas'" required><br />
      </div>

      <!--  MIDDLE NAME -->
      <div class="form-group">
        <label for="">Middle Name</label>
        <input [(ngModel)]="personalValue.middleName" name="middleName" type="text" class="form-control" id="middleName"
          placeholder="eg : 'Kumar'"><br />
      </div>

      <!--  LAST NAME -->
      <div class="form-group">
        <label for="">Last Name</label>
        <input [(ngModel)]="personalValue.lastName" name="lastName" type="text" class="form-control" id="lastName"
          placeholder="eg : 'Sharma'" required><br />
      </div>

      <!--  E-MAIL -->
      <div class="form-group">
        <label for="">E-mail</label>
        <input [(ngModel)]="personalValue.emailId" name="emailId" type="email" class="form-control" id="emailId"
          placeholder="eg : 'tejas.sharma@gmail.com'" required><br />
      </div>

      <!--  PASSWORD -->
      <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]="personalValue.password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
          type="password" class="form-control" id="password" placeholder="eg : '********'" required><br />
      </div>

      <!--  CONFIRM PASSWORD -->
      <div class="form-group">
        <label for="">Confirm Password</label>
        <input [(ngModel)]=confirmPassword name="confirmPassword" type="password" class="form-control"
          id="confirmPassword" placeholder="eg : '********'" required><br />
        <p style="color:red;position: relative;left:1.2%;">{{array['password']}} </p>
      </div>

      <!--  PHONE NUMBER -->
      <div class="form-group">
        <label for="">Phone Number</label>
        <input [(ngModel)]="personalValue.phoneNumber" name="phoneNumber" type="tel" class="form-control"
          id="phoneNumber" placeholder="eg : '9845632172'" minlength="10" maxlength="10" required
          (keypress)="keyPress($event)"><br />
      </div>

      <!--  DATE OF BIRTH -->
      <div class="form-group">
        <label for="">Date of Birth</label>
        <input [(ngModel)]="personalValue.birthDate" name="birthDate" type="date" class="form-control" id="birthDate"
          placeholder="eg : '30/05/1995'" required><br />
      </div>

      <!--  GENDER -->
      <div class="form-group">
        <label for="">Gender</label>
        <select id="gender" input [(ngModel)]="personalValue.gender" class="form-control"><br />
          <option selected>Male</option>
          <option>Female</option>
          <option>Other</option>
        </select><br />
      </div>

      <!--  NATIONALITY -->
      <div class="form-group">
        <label for="">Nationality</label>
        <select id="nationality" input [(ngModel)]="personalValue.nationality" class="form-control" required>
          <option selected>Indian</option>
          <option>Afghan</option>
          <option>Argentinian</option>
          <option>Australian</option>
          <option>Austrian</option>
          <option>Bangladeshi</option>
          <option>Belgian</option>
          <option>Brazilian</option>
          <option>Canadian</option>
          <option>Chinese </option>
          <option>English</option>
          <option>French</option>
          <option>German</option>
          <option>Hungarian</option>
          <option>Iranian</option>
          <option>Italian</option>
          <option>Japanese </option>
          <option>Korean</option>
          <option>Lebanese</option>
          <option>Malaysian</option>
          <option>Mexican</option>
          <option>Nepalese</option>
          <option>Pakistani</option>
          <option>Russian</option>
          <option>Singaporean</option>
          <option>South African</option>
          <option>Sri Lankan</option>
          <option>Vietnamese </option>
          <option>Zambian</option>
        </select>
        <br />
      </div>

      <!--  AADHAR NUMBER -->
      <div class="form-group">
        <label for="">Aadhar Number</label>
        <input [(ngModel)]="personalValue.aadharNumber" name="aadharNumber" type="tel" class="form-control"
          id="aadharNumber" placeholder="eg : '754123698541'" required maxlength="12" minlength="12"
          (keypress)="keyPress($event)"><br />
      </div>

      <!--  PAN NUMBER -->
      <div class="form-group">
        <label for="">PAN Number</label>
        <input [(ngModel)]="personalValue.panNumber" name="panNumber" type="text" class="form-control" id="panNumber"
          placeholder="eg : 'DYYPK5236'" required minlength="10" maxlength="10"><br />
      </div>


      <input type="submit" value="Submit" (click)=PersonalDetailForm() />

    </form>
  </div>
  <!-- </div> -->

</div>