<div class="card text-center">
    <div class="card-body aboutUsBox">
        <h2 class="card-title">About Us</h2>
        <p class="card-text">At Felicity Home Loan, we are commited towards providing the finest internet banking home loan services to our customers. You may track your application status by logging into -->Apply Online Home Page > Application status. Felicity Home Loan provides the status of loan application submitted through Online Apply over internet, round the clock.</p><br /><br />

        <h4>Contact Us:</h4><h6>1800 - 452 - 369</h6>
        
      </div>
</div>