<div class="jumbotron">
  <div class="overlay">
    <p class="lead">Welcome to</p>
    <h1 class="display-4">Felicity Home Loan</h1>
    <hr class="my-4">
    <p>Upgrade your life with convenient avail home loans!</p>
    <a class="btn btn-primary btn-lg" href="#" [routerLink]="['/homeloan-property-detail']" role=" button">Apply Now</a>
  </div>
</div>


<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/img/apply-img1.png" alt="Generic placeholder image" width="100"
        height="100">
      <p style="text-align: center; padding-top: 1em;">Fill Income & Property Details</p>
    </div>

    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/img/apply-img3.png" alt="Generic placeholder image" width="100"
        height="100">
      <p style="text-align: center; padding-top: 1em;">Complete your Application</p>
    </div>

    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/img/apply-img4.png" alt="Generic placeholder image" width="100"
        height="100">
      <p style="text-align: center; padding-top: 1em;">Instant Approval</p>
    </div>
  </div>


  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Home Loan from Felicity Home Loan.
      </h2>
      <p class="lead">Create a space of your own with Felicity Home Loans. Our Home Loans are tailor made for salaried individuals as they offer an attractive rate of interest and a longer tenure. We also provide you with legal and technical counselling to help you make the right home buying decision. Turn your dream home into reality with our Felicity Home Loans!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" alt="" style="width: 500px; height: 300px;"
        src="assets/img/Home-Loan-Charges.jpg" data-holder-rendered="true">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Submission of Legal Documents. </h2>
      <p class="lead">Our bank asks for the legal documents of the property involved for applying home  loan. All the legal  documents  of  the property involved  have  to be submitted. The bank does all the legal checks on the property. The documents remain with the bank until the repayment of the Home loan.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" alt="" src="assets/img/Home-Loan-apply.jpg"
        data-holder-rendered="true" style="width: 500px; height: 300px;">
    </div>
  </div>
</div>