<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm-4 ">
      <div class="card formBox">
        <div class="card-header fixed">
          <h6>All Applications</h6>
        </div>
        <div class="card-body formBoxBody">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.With supporting
            text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to
            additional content.With supporting text below as a natural lead-in to additional content.With supporting
            text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to
            additional content.With supporting text below as a natural lead-in to additional content.With supporting
            text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="card formBox">
        <div class="card-header fixed">
          <h6>Pending Applications</h6>
        </div>
        <div class="card-body formBoxBody">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="card formBox">
        <div class="card-header fixed">
          <h6>Approved Applications</h6>
        </div>
        <div class="card-body formBoxBody">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>