<div class="text-right">
  <button class="btn btn-success" type="submit" name="Log Out" value="Submit" (click)="logout()">Log Out</button>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm-4 ">
      <div class="card formBox">
        <div class="card-header fixed">
          <h6>All Applications</h6>
        </div>
        <div class="card-body formBoxBody">
          <div class="card-columns">
            <table>
              <tr *ngFor="let id of status;">
                <td>{{id.statusId}}<br /></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="card formBox">
        <div class="card-header fixed">
          <h6>Approved Applications</h6>
        </div>
        <div class="card-body formBoxBody">
          <div class="card-columns">
            <table>
              <tr *ngFor="let id of verified;">
                <td>{{id.statusId}}<br /></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="card formBox">
        <div class="card-header fixed">
          <h6>Pending Applications</h6>
        </div>
        <div class="card-body formBoxBody">
          <div class="card-columns">
            <table>
              <tr *ngFor="let id of toBeVerified;">
                <td>{{id.statusId}}</td><br />
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>