<form class="form">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Application Details</h2><br />
        <h4>Upload Files</h4>
        <div>
          <div class="form-group mb-2">
            <label for="file">Upload PAN Card: </label>
            <input type="file" class="form-control pad-3" accept="image/*" (change)="onFileSelected($event)">
          </div>
          <button type="button" class="btn btn-primary mb-2" (click)="onUpload()">Upload</button>
        </div>

        <h5>Upload Progress: {{uploadProgress}} %</h5>

        <div>
          <div class="form-group mb-2">
            <label for="file">Upload Voter ID: </label>
            <input type="file" class="form-control pad-3" accept="image/*" (change)="onFileSelected($event)">
          </div>
          <button type="button" class="btn btn-primary mb-2" (click)="onUpload()">Upload</button>
        </div>

        <h5>Upload Progress: {{uploadProgress}} %</h5>


        <div>
          <div class="form-group mb-2">
            <label for="file">Upload Salary Slip: </label>
            <input type="file" class="form-control pad-3" accept="image/*" (change)="onFileSelected($event)">
          </div>
          <button type="button" class="btn btn-primary mb-2" (click)="onUpload()">Upload</button>
        </div>
      </div>

      <h5>Upload Progress: {{uploadProgress}} %</h5>


      <div class="col-md-6">
        <div>
          <div class="form-group mb-2">
            <label for="file">Upload Letter of Agreement: </label>
            <input type="file" class="form-control pad-3" accept="image/*" (change)="onFileSelected($event)">
          </div>
          <button type="button" class="btn btn-primary mb-2" (click)="onUpload()">Upload</button>
        </div>

        <h5>Upload Progress: {{uploadProgress}} %</h5>


        <div>
          <div class="form-group mb-2">
            <label for="file">Upload NOC from Builder: </label>
            <input type="file" class="form-control pad-3" accept="image/*" (change)="onFileSelected($event)">
          </div>
          <button type="button" class="btn btn-primary mb-2" (click)="onUpload()">Upload</button>
        </div>

        <h5>Upload Progress: {{uploadProgress}} %</h5>


        <div>
          <div class="form-group mb-2">
            <label for="file">Upload Agreement to Sale: </label>
            <input type="file" class="form-control pad-3" accept="image/*" (change)="onFileSelected($event)">
          </div>
          <button type="button" class="btn btn-primary mb-2" (click)="onUpload()">Upload</button>
        </div>
      </div>
    </div>
  </div>
</form>